<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/output.css')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/piedpage.css') }}">
</head>
<body>
  
    <section class="bg-white dark:bg-gray-900 mt-20 bas-page">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
            
            <a href="#" class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 
            bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700" role="alert">
                <span class="text-xl bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3">New</span> <span 
                class="text-xl font-medium uppercase">tous vos bijoux & accesoires à porter de main</span> 

                {# fleche #}
                <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4
                     4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                {# fleche #}
            </a>
            
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 
            md:text-5xl lg:text-6xl dark:text-white uppercase">BIENVENUE DANS votre boutique préferée</h1>
            
            <p class="mb-8 text-lg font-normal text-customPurple-100 lg:text-xl sm:px-16 xl:px-48 ">
                N’hésitez pas à explorer nos nouveautés et à profiter de nos offres exclusives. <br>
                Notre équipe est à votre disposition pour vous aider et vous conseiller.</p>
            
            
            
            
        </div>

    </section>

    
</body>
</html>